@require "variable.styl"

status-colors()
  &.positive
    color: $color-positive

  &.negative
    color: $color-negative

  &.info
    color: $color-info

  &.warning
  &.pending
    color: $color-warning
