@require "variable.styl"
@require "mixin.styl"

.slicey
  vertical-align: top

  .background
    fill: $color-grayDark

  path
    status-colors()
    fill: currentColor

  .donut
    fill: $color-well
