@require "variable.styl"
@require "mixin.styl"

.sparky
  vertical-align: top

  polyline
    fill: none
    stroke: currentColor

  circle
  rect
    fill: currentColor

  &.filled

    polyline
      fill: currentColor
      stroke: none

    circle
    rect
      fill: none

  g
    color: $color-grayLight // fourth+ lines are this color.

  .line-1
    color: $color-salmon

  .line-2
    color: $color-aqua

  .line-3
    color: $color-charcoal

  .line-4
    color: $color-purple

  .range
    fill: $color-grayLightest

  .bar
    status-colors()

  &.positive
  &.negative
  &.info
  &.warning
  &.pending

    g
    .bar
      color: inherit

  status-colors()

.sparky-text
  display: inline-block
  text-align: right
  vertical-align: top

  status-colors()
