$color-positive = green
$color-negative = red
$color-info = cyan
$color-warning = orange
$color-grayLightest = whitesmoke
$color-grayLight = lightsteelblue
$color-grayDark = gray
$color-well = white

$color-salmon = #FF5D68
$color-charcoal = #39464E
$color-aqua = #00D4F6
$color-orange = #FF845C
$color-purple = #832599
